/* divisor with icon at center*/
.my-divisor-icon {
  --bg-main-divisor: white;
}

.my-divisor-icon::before,
.my-divisor-icon::after {
  content: "";
  display: inline-block;
  height: 4px;
  width: 35%;
  background-color: var(--bg-main-divisor);
  vertical-align: middle;
  border-radius: 10px;
}
/* /divisor with icon at center*/
